#container {
	padding-right: 0px;
	padding-left: 0px;
}

.color-box {
	height: 200px;
}

.color-box:hover {
	box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
}

.color-box-text {
	text-align: center;
	background: rgba(236, 239, 241, 0.6);
	color: #515151;
	padding: 5px;
	position: relative;
	top: 150px;
}

#sub-menu{
	padding-top: 8px;
	padding-bottom: 8px;
}

#btn-right{
	position: relative;
	left: 80px;
}